@media screen and (max-width: 1440px){
    .main__table{
        transform: scale(.787);
        margin-left: 3.25% !important;
        margin-top: -40px !important;
       
    } 
    
    .main__asset{
        width: 52vw;
    }
    .game__phone-block{
        height: 620px;
        width: 573px;
        transform: scale(.84);
       
    }
    
    #phone2{ 
        right: -15% !important;
    }
    #product2{ 
        right: -30% !important;
    }
    #chocolate-3{
        bottom: 10% !important;
        left: 0 !important;
    }
}
@media screen and (max-width: 1080px){
    .main__table{
        transform: scale(.70);
        margin-left: -50px !important;
        margin-top: -60px !important;
    } 
    .main__asset{
        width: 56vw;
    }
    .game__phones{
        justify-content: start !important;
    }
    .game__phone-block{
        
        transform: scale(.7);
        width: 422px;
        height: 392px;
    }
    #phone1{
        top: -50% !important;
    }
    #phone2{
        top: -37% !important;
        right: -60% !important;
    }
    #product1{
        top: -50% !important;
    }
    #product2{
        top: -44% !important;
        right: -80% !important;
    }
    .footer-asset{
        width: 33vw;
    }
    //product

    .product__img-block{
        transform: scale(.9);
    }
    #chocolate-1{
        right: 0 !important;
    }
}

@media screen and (max-width: 960px){
    .main__table{
        transform: scale(.6);
        margin-left: -100px !important;
        margin-top: -80px !important;
    }
    .game__phone-block{
        transform: scale(.6);
        margin-left: -70px ;
    }
    #product2{
        right: -100% !important;
    }
}

@media screen and (max-width: 768px){
    /*MAIN*/

    .main__content{
        display: block !important;
        margin: auto ;
    }
    .main__interactive-content{
        height: 40% !important;
        width: 100% !important;
        display: flex;
        justify-content: center !important;

        
    }
    .main__table{
        transform: scale(.7);
        margin-left: 0px !important ;
        display: block;
        margin-top: -40px !important;
    }
    
    .main__asset{
        width: 70vw;
    } 
    .game__phones{
        transform: scale(1);
        width: 100% !important;
        height: 60% ;   
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        align-items: center !important;
        .phones{
            margin-left: -130px !important;
        }
    }
    .product-visual{
        max-height: 350px !important;
    }
    #product2{
        right: -20% !important;
    }

    /*PRODUCT*/
    
    .product__img{
        margin-top: -100px !important;
        transform: scale(0.8);
        &-block{
            position: relative;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80% !important;
        height: 50vh !important; 
        
    }
    .fly-obj{
        position: relative;
        width: 90vh;
        height: 60vh;

        scale: .8;
        #chocolate-1{
            left:  70% !important;
        }
        #chocolate-2{
            left: 75% !important;
            bottom: -20% !important;
        }
        #chocolate-3{
            left:90% !important;
            bottom: -5% !important;
        }
       #almond{
        scale: 1.1;
        left: 78%;
        bottom: -15%;
       }
       #cherry{
        scale: 1.1;

        left: 65%;
        bottom: -15%;
       }

    }
    .product__asset{
        filter: blur(1.5px);
    }
    .main__table-img{
        p{
            padding: 0 !important;
        }
    }
    
}
@media screen and (max-width: 680px){
    .main__table{
        .game-logo{
            transform: scale(.9);
            
        }
        img{
            margin-top: -37px !important;
        }

        h2{
            font-size: 52px;
        }
       
        
    }
    #product2{
        right: -40% !important;
    }

    .lot{
        margin-top: -50px;
        
    }
}
@media screen and (max-width: 580px){
    .main__table{
        .game-logo{
            transform: scale(.8);
            margin-top: -80px  !important; 
        }
        .play{
            transform: scale(.9);
            margin-top: 20px;
        } 
    }   


    .product__table-img{
        margin-top: 125px !important;
    }
    #product1{
        left: -20% !important;
    }
    #product2{
        right: -50% !important;
    }
    .product-visual{
        margin-top: -100px;
    } 
    .lot{
        margin-top: -50px;
        *{
            transform: scale(.9);
        
        }
        p{
            margin: -15px 0 0 0 !important;
         
        }
    }
    
}
@media screen and (max-width: 525px){
    .product__table-img{
        margin-top: 105px !important;
    }
    .product__table-img{
        *{
            transform: scale(.9);
        } 
        p{
            margin-top: -5px;
        } 
        a{
            margin-top: -10px ;
        } 
    }
    #product2{
        right: -60% !important;
    }
    .lot{
        margin-top: -70px;
    }
    .main__table-img{
        width: 500px !important;
    }
     

    #chocolate-1{
        left:  65% !important;
    }
    #chocolate-2{
        left: 65% !important;
  
    }
    #chocolate-3{
        left:80%  !important;

    }
}
@media screen and (max-width: 488px){
    .main__table{
        .game-logo{
            transform: scale(.75);
            margin-top: -100px  !important;
        }
        .play{
            transform: scale(.85);
        }   
        

    }

    .product-visual{
        img{
            transform: scale(.9);
        }
    }
}

@media screen and (max-width: 450px){
    .product__table-img{
        margin-top: 80px !important;
        h2{
            font-size: 46px;
        }
        p{
            font-size: 16px;
        }
        a{
            margin-top: -20px;
        }
    }
    #product1{
        left: -30% !important;
    }
    #product2{
        right: -80% !important;
    }
}   