@media screen and (max-width: 1440px){
    .gate{
        background-image: url('../img/gate1440.webp');
        #ozon{
            left: 7%;
        }
        #amediateka{
            right: 7%;
        }
        h1{
            font-size: 52px;
            line-height: 68.64px;
        }
    }
    .main__table{
        transform: scale(.787);
        margin-left: 3.25% !important;
        margin-top: -40px !important;
       
    } 
    
   
    .game__phone-block{
        height: 620px;
        width: 573px;
        margin-top: -20%;
        transform: scale(.84);
       
    }
    
    #phone2{ 
        right: -15% !important;
    }
    #product2{ 
        right: -30% !important;
    }
    #chocolate-3{
        bottom: 10% !important;
        left: 0 !important;
    }
}
@media screen and (max-width: 1080px){
    .gate{
        &-asset{
            scale: .7;
           
        }
        #ozon{
            left: -2%;
            top: -3.3%;
        }
        #amediateka{
            right: -2%;
            top: -3.3%;
        }
        h1{
            font-size: 52px;
            line-height: 68.64px;
        }
    }
    .main__table{
        transform: scale(.70);
        margin-left: -50px !important;
        margin-top: -60px !important;
    } 
    .main__asset{
        width: 56vw !important;
    }
    .game__phones{
        justify-content: start !important;
    }
    .game__phone-block{
        
        transform: scale(.7);
        width: 422px;
        height: 392px;
    }
    #phone1{
        top: -50% !important;
    }
    #phone2{
        top: -37% !important;
        right: -60% !important;
    }
    #product1{
        top: -50% !important;
    }
    #product2{
        top: -44% !important;
        right: -80% !important;
    }
    .footer-asset{
        width: 33vw;
    }
    //product

    .product__img-block{
        transform: scale(.9);
    }
    #chocolate-1{
        right: 0 !important;
    }

    /*about*/
    .about-asset{
        transform: scale(.8);
    }
    #spyglass{
        display: none;
    }
    #dice{
        display: none;
    }
    #jack{
        top: 5% !important;
        left: -7% !important;

    }
    #jo{
        top: 65% !important;
        left: -3% !important; 
        scale: .9;
    }
    #jr{
        left: 78% !important;
        top: 7% !important;
    }
    
    #map{
        right: -20% !important;
        bottom: -10% !important;
    }

    /*journal*/
    .journal-asset{
        display: none;
    }
   
    
}
@media screen and (max-width: 1024px){
    .gate{
        background-image: url('../img/gate1024.webp');
    }
}
@media screen and (max-width: 960px){
    .main__table{
        transform: scale(.6);
        margin-left: -100px !important;
          
    }
    .game__phone-block{
        transform: scale(.6);
        margin-left: -70px ;
       
    }
    #product2{
        right: -100% !important;
    }
   
}


@media screen and (max-width: 768px){
    .main__screen{
        min-height: 635px !important;
    }
    .main__container{
        min-height: 635px !important;

    }
    .product__content{
        min-height: 635px !important;

    }
   
    .gate{
        background-image: url('../img/gate768.webp');
        h1{
            font-size: 40px;
            line-height: 52.8px;
            margin-top: 90px;
        }
    }
    /*MAIN*/
    .modal{
      .modal__text-warning{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
      }  
      .modal__text-question{
        font-size: 15px;
      }
    }
    .main__content{
        display: block !important;
        margin: auto ;
    }
    .main__interactive-content{
        height: 40% !important;
        width: 100% !important;
        display: flex;
        justify-content: center !important;

        
    }
    .main__table{
        transform: scale(.7);
        margin-left: 0px !important ;
        display: block;
        margin-top: -40px !important;
    }
    
    .main__asset{
        width: 70vw;
    } 
    .game__phones{
        transform: scale(1);
        width: 100% !important;
        height: 60% ;   
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        align-items: center !important;
        .phones{
            margin-left: -130px !important;
        }
    }
    .product-visual{
        max-height: 350px !important;
    }
    #product2{
        right: -20% !important;
    }

    /*PRODUCT*/
    
    .product__img{
        margin-top: -270px !important;
        transform: scale(0.8);
        &-block{
            position: relative;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80% !important;
        height: 80% !important; 
        
    }
    .fly-obj{
        position: relative;
        width: 90vh;
        height: 60vh;

        scale: .8;
        #chocolate-1{
            left:  70% !important;
        }
        #chocolate-2{
            left: 75% !important;
            bottom: -20% !important;
        }
        #chocolate-3{
            left:90% !important;
            bottom: -5% !important;
        }
       #almond{
        scale: 1.1;
        left: 78%;
        bottom: -15%;
       }
       #cherry{
        scale: 1.1;

        left: 65%;
        bottom: -15%;
       }

    }
    .product__asset{
        filter: blur(1.5px);
    }
    .main__table-img{
        p{
            padding: 0 !important;
        }
    }

    /*about*/
    .about-main{
        height: 100vh;
        background-attachment: fixed;
        
    }
    .about__container{
        height: 100%;
        overflow: auto;
        
    }
    // .journal__blocks{
    //     height: 100%;
    //     overflow: hidden; 
    // }
    //
    .about-asset{
        display: none;
    }
    .about-asset-mobile{
        display: block;
    }
    .about-captain{
        margin-bottom: 217px !important;
    }
    .about-product{
        margin-bottom: 430px !important;
    }
    .about-motive{
        margin-bottom: 452px !important;
    }   
    
    #dice-mobile{
        left: 60%
    }
    #jack-mobile{
        
        bottom: -35% ;

        z-index: 2;
    }
    //
    #jo-mobile{
        bottom:-57%;
        left: 9%;
        scale: .8;
    }
    #jr-mobile{
        bottom:-73%;
      right: 9%;
      scale: .8;
    }
    //   
    
    #spyglass-mobile{
        left: 0%;
        scale: .8;
        bottom: -110%;
        transform: rotate(-90deg);
    }
    #money-mobile{
        left: 55%;
        bottom: -100%;
    }
}
@media screen and (max-width: 680px){
    .main__table{
        .game-logo{
            transform: scale(.9);
            
        }
        img{
            margin-top: -37px !important;
        }

        h2{
            font-size: 52px;
        }
       
        
    }
    #product2{
        right: -40% !important;
    }

    .lot{
        margin-top: -50px;
        
    }
    .feedback{
       
        h1{
            font-size: 30px;
        }
        p{
            font-size: 16px;
        }
        textarea{
            resize:vertical;
            height: 132px;
        }
    }
}
@media screen and (max-width: 580px){
   
    .gate{
        &__container{
            width: 375px !important;
        }
        #ozon{
           display: none;
        }
        #amediateka{
           display: none;
        }
        #ozon-mobile{
            display: block;
            top: 0;
            left: 0;
            scale: 1;
        }
        #amediateka-mobile{
            display: block;
            top: 0;
            right: 0;
            scale: 1;

        }
    }
    .main__table{
        .game-logo{
            transform: scale(.8);
            margin-top: -80px  !important; 
        }
        .play{
            transform: scale(.9);
            margin-top: 20px;
        } 
    }   


    .product__table-img{
        margin-top: 125px !important;
    }
    #product1{
        left: -20% !important;
    }
    #product2{
        right: -50% !important;
    }
    .product-visual{
        margin-top: -100px;
    } 
    .lot{
        margin-top: -50px;
        *{
            transform: scale(.9);
        
        }
        p{
            margin: -15px 0 0 0 !important;
         
        }
    }

    /*ABOUT*/
    .about__container{
        width: 425px !important;
    }
    .about-block__header{
        h2{
            font-size: 36px ;
        }
    }
    .about-block__text{
        p{
            font-size: 15px !important;
            padding: 10px 42px 0 !important;
            line-height: 25px;
        }
    }
    .about-block__bg{
        top: 52px;
    }
    #dice-mobile{
        left: 60%;
        z-index: 2;
    }
    #jack-mobile{
        bottom: -65% ;
        z-index: 3;
    }
    //
    #jo-mobile{
        bottom:-103%;
        left: 0%;
        scale: .8;
    }
    #jr-mobile{
        bottom:-117%;
        right: 0%;
        scale: .8;
    }
    //   
    
    #spyglass-mobile{
        left: -10%;
        scale: .8;
        bottom: -170%;
        transform: rotate(-90deg);
    }
    #money-mobile{
        left: 50%;
        bottom: -156%;
    }


    /*JOURNAL*/

    .journal__content{
        padding-top: 30px !important;
    }
    .journal__block{
        margin-bottom: -200px;
        .journal__title{
            font-size: 25px;
        }
        .journal__text{
            font-size: 14px !important;
            line-height: 17px !important;
            
        }
        .journal__data{
            font-size: 8px;
        }
    }
    body{
        overflow: auto;
    }
    .burger-plank{
        min-height: 1080px;
    }
    .burger{
        position: fixed;
        height: 100%;
        overflow-y: auto;
    }
    .burger-container{
        min-height: 1080px;
        width: 100%;
        .burger-data{
            height: 28%;
            width: 115% !important;
            left: -2%;
        }
        .burger-data__info{
            
            h2{
                font-size: 37px !important;
            }
            p{
                font-size: 16px !important;
            }
        }
        // .burger-data{
        //     height: 25%;
        // }

        .burger-brand{
            height: 25% !important;
            position: relative;
            z-index: 3;
            img{
                width: 60%;
                rotate: 15deg;
                top: 10%;
                left: 30px;
            }
        }
        .burger-journal{
            height: 40% !important;
            margin-top: 0%;
            .burger-data__info{
                margin-top: -30%;
            }
        }
    }

}
//
@media screen and (max-height: 706px) and (max-width: 700px) {
    .burger-plank{
        min-height: 1080px;
    }
    .burger{
        position: fixed;
        height: 100%;
        overflow-y: auto;
    }
    .burger-container{
        min-height: 1080px;
        width: 100%;
        .burger-data{
            height: 28%;
            width: 115% !important;
            left: -2%;
        }
        .burger-data__info{
            
            h2{
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
        }
        // .burger-data{
        //     height: 25%;
        // }

        .burger-brand{
            height: 25% !important;
            position: relative;
            z-index: 3;
            img{
                width: 60%;
                rotate: 15deg;
                top: 10%;
                left: 30px;
            }
        }
        .burger-journal{
            height: 40% !important;
            margin-top: 0%;
            .burger-data__info{
                margin-top: -30%;
            }
        }
    }
}
//
@media screen and (max-width: 525px){
    .modal{
        h2{
            font-size: 14px;
            line-height: 26px;
            font-weight: 900;
        }
        p{
            font-size: 15px;
            font-weight: 500;
            line-height: 26px;
        }
    }
    .product__table-img{
        margin-top: 105px !important;
    }
    .burger-data{

        min-width: 130vw !important;
        left: -2% !important;
        .burger-data__info{
            min-width: 40% !important;
        }
        
    }
    .burger-brand{
        position: relative;
        z-index: 3;
        img{
            width: 40% !important;
            rotate: 15deg;
            top: 30% !important;
            left: 12% !important;
        }
    }

    .burger-products{
    
        .burger-img{
            img{
                
                
                width: 80%;
               
                left: 35px;
                bottom: -20px !important;
                z-index: 0;
            }
    
        } 
        
    }
    .burger-game{
        img{
            scale: 1.3;
            bottom: 10% !important;

        } 
    }
    .product__table-block{
        *{
            transform: scale(.9);
        } 
        p{
            margin-top: -5px;
        } 
        a{
            margin-top: -10px ;
        } 
    }
    #product2{
        right: -60% !important;
    }
    .lot{
        margin-top: -70px;
    }
    .product__table-block{
        width: 470px !important;
    }
    .product__table-img{
        width: 470px !important;
        p{
            margin-top: 0px;
        } 
        a{
            margin-top: -10px ;
        }

    }
     

    #chocolate-1{
        left:  65% !important;
    }
    #chocolate-2{
        left: 65% !important;
  
    }
    #chocolate-3{
        left:80%  !important;

    }
}
@media screen and (max-width: 488px){
    .main__table{
        .game-logo{
            transform: scale(.75);
            margin-top: -100px  !important;
        }
        .play{
            transform: scale(.85);
        }   
    }

    .product-visual{
        img{
            transform: scale(.9);
        }
    }

    .product-visual{
        width: 400px !important;
    }
}

@media screen and (max-width: 450px){
    
    .about__container{
        width: 360px !important;
    }
    .about-block__header{
        height: 150px;
        h2{
            font-size: 30px ;
        }
    }
    .about-block__text{
        p{
            font-size: 13px !important;
            padding: 10px 32px 0 !important;
            line-height: 22px;
        }
    }
    .about-block__bg{
        top: 52px;
    }
    .about-asset-mobile{
        scale: .8;
    }
    #dice-mobile{
        left: 50%;
        z-index: 2;
    }
    #jack-mobile{
        bottom: -65% ;
        left: -10%;
        z-index: 3;
    }
    //
    #jo-mobile{
        bottom:-133%;
        left: -10%;
        scale: .8;
    }
    #jr-mobile{
        bottom:-127%;
        right: -10%;
        scale: .8;
    }
    //   
    
    #spyglass-mobile{
        left: -15%;
        scale: .8;
        bottom: -170%;
        transform: rotate(-90deg);
        z-index: 2;
    }
    #money-mobile{
        left: 50%;
        bottom: -156%;
    }
    .about-motive{
        margin-bottom: 0 !important;
    }

    .journal__content{
        padding-top: 15px !important;
    }
    .journal__block{
        margin-bottom: -290px;
        .journal__title{
            font-size: 20px !important;
        }
        .journal__text{
            font-size: 12px !important;
            line-height: 15px !important;
            
        }
        .journal__data{
            font-size: 8px;
            margin-top: 8px !important;
            margin-bottom: 10px !important;
        }
    }
}   

@media screen and (max-width: 375px){
    
    .gate{
        background-image: url('../img/gate375.webp');
        h1{
            font-size: 28px;
            line-height: 38.14px;
            margin-top: 90px;
        }
        a{
            padding: 15px 30px !important;
            font-size: 16px;
        }
    }
    .game{
        background-image: url('../img/mobile-bg.webp');
    }
    .line{
        height: 24px !important;
    }
    .phones{
        display: none;
    }
    .main__asset{
        display: none;
    }
    .main__table-play{
        background: none !important;
        filter: drop-shadow( 0px 0px 0px #fff) !important;
        .game-logo{
           transform: scale(1.05);
        }
        .play img{
            width: 85% !important;
            margin-top: 16px !important;
        }
    }
    .game__btn{
        scale: .8;
        right: 5px !important;
        bottom: 2px !important;
    }
    .header__burger{
        margin: 16px 5px !important;
        scale: .8;
    }
    .main__table-second{
        scale: .9;
        margin-top: -60px !important;
    }

    .product-visual{
        img{
            scale: .8;   
        }
        #product1{
            top: -20% !important;
        }
    }

    .burger-brand{
        position: relative;
        img{
            width: 60%;
            
            top: 40px !important;
            left: 30px;
        }
    }

    .burger-products{
        .burger-img{
            img{
                width: 80%;
                left: 60px !important;
                bottom: -40px !important;
               
                scale: 1.2;
            }
        } 
    }
    .burger-game{
        img{
            scale: 2;
            bottom: -10% !important;
            left: -100px !important;

        } 
    }

    //about

    .about__container{
        width: 310px !important;
    }
    .about-block__header{
        height: 120px;
        h2{
            font-size: 26px;
        }
    }
    .about-block__text{
        p{
            font-size: 13px !important;
            padding: 40px 42px 0 !important;
            line-height: 20px;
            transform: rotate(3.3deg) !important;
        }
    }
    .about-block__bg{
        display: none;
    }
    .about-block__bg-mobile{
        display: block !important;
        width: 100%;
        top: 20%;
        z-index: 1;
    }
    .about-asset-mobile{
        scale: .8;
    }
    #dice-mobile{
        left: 50%;
        z-index: 2;
    }
    #jack-mobile{
        bottom: -65% ;
        left: -10%;
        z-index: 3;
    }
    //
    #jo-mobile{
        bottom:-133%;
        left: -10%;
        scale: .8;
    }
    #jr-mobile{
        bottom:-127%;
        right: -10%;
        scale: .8;
    }
    //   
    
    #spyglass-mobile{
        left: -15%;
        scale: .8;
        bottom: -170%;
        transform: rotate(-90deg);
        z-index: 2;
    }
    #money-mobile{
        left: 50%;
        bottom: -156%;
    }
    
    .about-product{
        margin-bottom: 380px !important;
       
        p{
            transform: rotate(-6deg) !important;
            line-height: 28px;
            font-size: 14px !important;
            padding-top: 10px !important ;
        }
        .about-asset-mobile{
            z-index: 2;
            top: 90%;
            scale: .6 !important;
        }
        #jr-mobile{
            left: 25%;
            top: 115%;

        } 
        #jo-mobile{
            left: -15%;  
        } 
    }
    .about-motive{
        margin-bottom: 0 !important;
        .about-block__bg-mobile{
            top: 34%;
        }
        p{
           
            line-height: 28px;
            font-size: 14px !important;
            padding-top:40px !important ;
        }
        #spyglass-mobile{
            left: -15%;
            scale: .6;
            bottom: -90%;
            transform: rotate(-90deg);
            z-index: 2;
        }
        #money-mobile{
            scale: .6;
            left: 0%;
            bottom: -50%;
            filter: drop-shadow(0 2px 10px #000);
            z-index: 2;
        }
    }

    .journal__content{
        .journal__title{
            font-size: 18px !important;
        }
        .journal__data{
            margin: 3px 0!important;
        }
        .journal__text{
            font-size: 10px !important;
            line-height: 13px !important;
        } 

    }
    .journal__block{
        margin-bottom: -400px !important;
    }
    .journal__slider{
        margin-bottom: -200px !important;
    }

    .fly-obj{
        display: none;
    
    }
    .feedback{
        h1{
            font-size: 25px;
        }
        p{
            font-size: 14px;
        }
        textarea{
            resize:vertical;
            height: 106px;
        }
    }
    .gate__link{
        width: 60%;
        .gate__btn{
            padding: 10px 30px !important;
        }
    }
    
    .product__img{
        height: 50%;
        &-block{
            .cig{
                top: -250px;
            }
        }
    }
    
    
}
@media screen and (max-width: 375px){
    .burger-data__info{
        min-width: 100%;
    }
    .burger-img{
        display: none;
    }
}


@media screen and (max-height: 880px) and (min-width: 375px) and (max-width: 1080px){
    .main__table{
        scale: .8;
        margin-top: -95px !important;
    }
    
}
@media screen and (max-height: 738px) and (min-width: 768px){
    .main__asset{
        width: 40vw !important;
    }
    
    
}

@media screen and (max-height: 880px){
    .cig{
        scale: .8;
        margin-top: -100px;
    }
    .game__phones{
        scale: .8;
        top: 7.5% ;
    }
}
@media screen and (max-height: 750px) {
    .game__phones{
        scale: .8;
        top: 7.5% ;
    }
    
    
}
@media screen and (max-height: 750px) and (max-width: 768px ) {
    .cig{
        scale: .65;
        margin-top: -160px;
       
    }
    .fly-obj{
        margin-top: -180px;
    }
    
}


@media screen and (max-height: 750px) and (min-width:580px){
    .burger{
        .burger-data__info{
            margin-left: 60px;
            scale: .85 !important;

        }
        &-brand{
            img{
                width: 40% !important;
            }
        }
        &-game{
            img{
                width: 110% !important;
            }
        }
        &-products{
            img{
                width: 40% !important;
            }
        }
    }
    .burger-products{
        height: 23% !important;
    }

    .burger{
        .burger-data__info{

            scale: .85 !important;

        }
        &-brand{
            img{
                width: 40% !important;
            }
        }
        &-game{
            img{
                width: 110% !important;
            }
        }
        &-products{
            img{
                width: 40% !important;
            }
        }
    }
    .burger-products{
        height: 23% !important;
    }
}
@media screen and (max-height: 620px) and (min-width:580px){
    .burger{
        .burger-data__info{
            margin-left: 40px;
            scale: .75 !important;

        }
        &-brand{
            img{
                width: 40% !important;
            }
        }
        &-game{
            img{
                width: 110% !important;
            }
        }
        &-products{
            img{
                width: 40% !important;
            }
        }
    }
}



@media screen and (max-height: 880px) and (min-width: 1440px) and (min-height: 430px){
    .main__table{
        scale: .7;
        margin-top: -50px !important;
    }    
}


@media screen and (min-width: 1080px) {
    .about-main{
        min-height: 900px;
    } 
}
@media screen and (min-height: 880px) and (max-width: 880px) and (min-width: 375px){
    .product__table-img{
        margin-top: -200px !important;
    }
    .cig{
        scale: .8;
    }
}

@media screen and (min-height: 790px) and (max-width: 375px){
    .product__img{
        margin-top: -350px !important;
    }
}
@media screen and (max-height: 790px) and (max-width: 375px){
    .product__img{
        margin-top: -400px !important;
    }
}
