*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;   
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

html{
    box-sizing: border-box;

}
ul, ol{
    padding: 0;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
    font-family: 'noto-serif';
}


._close{
    display: none;
}
img{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
