
.about{
    
    &-main{
        position: relative; 
        width: 100%;
        height: 100vh;
        background-image:url('../img/about-bg.webp');
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
      

    }
    &__container{
        position: relative;
        width:567px;
        display: block;
        margin: 0 auto;
        padding-top: 120px;
        overflow-y: scroll;
        overflow-x: hidden;  
        height: 100%;
        -ms-overflow-style: none;  /* IE и Edge */
            scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
          }
    }

    &-block{
        width: 100%;
        position: relative;
        &__header{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 192px;
            background-image: url('../img/about-table.webp');
            background-position: center;
            background-size: 1000px;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            filter: drop-shadow(0 0px 20px #180302);

            h2{
                align-self: center;
                text-align: center;
                display: flex;
                font-weight: 500;
                align-items: center;
                font-size: 48px;
                filter: drop-shadow(0 4px 2px #180302);
            }
        }
        &__bg{
            position: absolute;
            width: 100%;
            top: 12px;
            z-index: 1;

        }
        &__text{
            p{
                position: relative;
                z-index:2;
                color: #000;
                font-weight: 600;
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
    &-captain{
        margin-bottom: 104px;
        .about-block__text{
            p{
                padding-top: 23px;
                padding-left: 65px;
                padding-right: 45px;
                padding-bottom: 100px;
                transform: rotate(1.5deg);
            }
        }
        .about-block__bg{
            transform: rotate(1.5deg);
        }
    }
    &-product{
        margin-bottom: 52px;
        .about-block__text{
            p{
                padding-top: 23px;
                padding-left: 65px;
                padding-right: 45px;
                padding-bottom: 100px;
                transform: rotate(-1.5deg);
            }
        }
        .about-block__bg{
            transform: rotate(-1.5deg);
        }
    }
    &-motive{
        margin-bottom: 120px;

        .about-block__text{
            p{
                padding-top: 23px;
                padding-left: 65px;
                padding-right: 45px;
                padding-bottom: 100px;
            }
        }
    }
    .about-block__bg-mobile{
        display: none;
        position: absolute;
        
    }
    .about-asset{
        position: absolute;
        
    }
    &-asset-mobile{
        position: absolute;
        display: none;
    }
    #spyglass{
        top: 0;
        left: 0;
    }
    #jack{
        top: 37.5%;
        left: 6%;
    }
    #jr{
        bottom: 3%;
        left: 2%;
        height:  280px;
    }
    #jo{
        top: 4.5%;
        right: 2%;
    }
    #dice{
        top: 36.6%;
        right: 14.5%;
    }
    #map{
        bottom: 0;
        right: 0;
    }
}