
.journal{
    .journal-asset{
        position: absolute;
    }
    &__container{
        position: relative;
    }

    .journal-preview{
        position: relative;
        z-index: 2;
        width: 100%;  
        filter:drop-shadow(0 2px 4px #180302);
        
    }
    &__blocks{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__block{
        
        z-index: 3;
        position: relative;
        min-height: 1122px;
        color: #000;
        margin-bottom: 128px;
        
        .journal__content{
            padding-top:50px;
            padding-bottom:82px;
            position: relative;
            .journal-bg{
                filter: drop-shadow(0 2px 4px #000);
                position: absolute;
                top: -13px;
                width: 100%;
                display: block;
                z-index: 0;
                
                
            }
           h2{
            width: 80%;
            display: block;
            margin: 0 auto;
            position: relative;
            text-align: center;
            font-size: 24px;
            font-weight: 600;

            
           }
           p{
            position: relative;
            font-weight: 500;
           }
           .journal__data{
            text-align: center;
            font-size: 12px;
            margin-top: 12px;
            margin-bottom: 16px;
            color:  #000000A3;
            
           }
           .journal__text{
            padding: 0 20px;
            line-height: 28px;
            font-size: 16px;
            
           }
            
        }
    }
    &__slider{
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        margin-top: 120px;
        &-list{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            li{
                list-style: none;
            }
            .journal-func button{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .journal-slide{
              
                background: url(../img/pagination.webp);
                background-size: 100px;
                background-position: center;
                border-radius: 50%;
                color: #000;
                cursor: pointer;
                filter: drop-shadow(0 2px 2px #000);
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .active{
                color: #fff;
                background: #B61C3E;
            }
            
        }
        #journal-prev{
            min-width: 40px;
            min-height: 40px;
            background: #B61C3E;
            border: none;
            color: #fff;
            border-radius: 50%;
            margin-right: 8px;
            
    
        }
        #journal-next{
            border: none;
            fill: #fff;
            margin-left: 8px;
            transform: rotate(180deg);
            width: 40px;
            height: 40px;
            background: #B61C3E;
            border-radius: 50%;
    
        }
       
    }

    #spyglass-journal{
        top: 0%;
        left: -5%;
        scale: .7;
        transform: rotate(20deg);
    }
    #jr-journal{
        bottom: 0%;
        right: 0;
        scale: .9;
    }
    #jo-journal{
        bottom: 2%;
        left: 3%;
       scale: .9;

    }
    #compass-journal{
        top: 10%;
        right: 0;
       scale: .8;

    }
    #dice-journal{
       right: 6.5%;
       bottom: 38%;
       scale: .8;
    }
    
}