
.product{
   .original{
        z-index: 2;
   } 
    .ruby{
        margin-top: -60px;
        z-index: 1;
        background: url('../img/productbg.webp');
        background-size: cover;
        background-position: center;
        
    }

    &__content{
        .lot{
            h2{
                text-align: center;
                font-size: 80px;
                filter: drop-shadow(0 4px 2px #180302);
                font-weight: 500;
            }
            p{
                font-weight: 500;
                margin: 36px 25px;
                padding: 0 62px;
                font-size: 24px;
                line-height: 36px;
                filter: drop-shadow(0px 2px 2px #180302);
                

            }
        }
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img{
        position: relative;
        z-index: 1;   
        width: 50%;
        height: 100vh;
        min-height: 738px;
        
        &-block{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
                position: absolute;
            }


        }
    }

    .cig{
        z-index: 2;
    }
    #chocolate-1{
        z-index: 1;
        bottom: 9.35%;
        right: 20%;
    }
    #chocolate-2{
        z-index: 3;

        bottom: 5.5%;
        left: 27%;

    }
    #chocolate-3{
        z-index: 1;

        left: 6.25%;
        bottom:16.3%;
    }

    #almond{
        bottom: 3.33%;
        right: 20.32%;
        z-index: 2;
    }
    #cherry{
        bottom: 3.33%;
        right: 28.32%;
        z-index: 2;
    }
   





}