@import 'vars';
@import 'reset';
@import 'animation';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: $font;
    font-size: 16px;
}
.wrapper{
    position: relative;
    overflow-x: hidden;
}
body{
    color: #fff;
    scroll-behavior:smooth;
}

.landing-page{
    overflow: hidden;
}

//modal
.header{
    background-image: url(../img/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 72px;
    z-index: 50;
    box-shadow: 0px 3px 15px black;
    position: fixed;
    &__inner{
        padding: 16px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    &__logo img{
        display: flex;
        text-align: center;
    }
   
    & button{
        background: none;
    }
    &__burger {    
        padding: 10px;
        border: 1px solid transparent;
        margin: 7px 0;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        margin: 16px 40px;
        cursor: pointer;
    }
    
    
    &__burger:focus {
    outline-width: 0;
    }
    
    &__burger [class*='bar-'] {
    background: #fff;
   
    display: block;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .2s ease all;
            transition: .2s ease all;
    

    height: 3.5px;
    width: 30px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px black;

    }

    .header__burger .bar-bot {
    margin-bottom: 0;
    }

    .opened .bar-top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 9% 9%;
            transform-origin: 9% 9%;
            box-shadow: none;
    }
    .opened .bar-mid {
    opacity: 0;
    box-shadow: none;
    }
    
    .opened .bar-bot {
    -webkit-transform: rotate(45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 10% 97%;
            transform-origin: 10% 97%;
            box-shadow: none;
    }
 
}

.modal{
   position: relative;
   background-image: url(../img/modalBG.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   &__container{
    margin: 0 auto;
    max-width: 772px;
    padding: 12px 0;
    height: 100vh;
    position: relative;
   } 

   &__content{
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-bottom: 52px;
    h3{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
        margin-bottom: 52px;
        filter: drop-shadow(0 2px 2px #000);
    }
    p{
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-bottom: 24px;
        text-transform: uppercase;
        filter: drop-shadow(0 2px 2px #000);


    }
    
    
   }
   &__btn-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button{
        margin: 0 6px;
        width: 164px;
        height: 56px;
        border: 1px solid #52212E;
        color: #fff;
        transition: .3s;
        font-size: 18px;
        font-style: $font;

    }

    #yes{
        background: #9F9363;
        
       
    }
    #yes:hover{
        background: #7e754e;
    }

    #no{
        background: #B61C3E;
    }
    #no:hover{
        background: #8e152f;
        
        } 
    }
}
.game{
    z-index: 2;
}

.main__screen{
    position: relative;
    background-image: url(../img/Rectangle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    .main__interactive-content{
        width: 50%;
        z-index:2;
    }
    .main__table{
        background-image: url(../img/table.png);
        background-position:top;
        background-repeat: no-repeat;
       background-size: contain;
       height: 553px;
       width: 676px ;
       margin-top: 23px;
       display: flex;
       flex-direction: column;
       margin-left: 5.625%;
       align-items: center;
       z-index: 4;
       filter: drop-shadow(0 0 20px #000);
    
      
       
       

       &-img{
        margin-top: 174px;
        
        .game-logo{
            width: 447px;
            height: 224px;
        }

       }

    }
    .main__container{
        max-width: 1740px;
        padding: 0 10px;
        margin: 0 auto;
        height: 98vh;
        position: relative;
    }
    .play{
        text-align: center;
        margin-top: 48px;
        
        img{
            background: none;
            outline: none;
            transition: .5s;
            border: none;
          
            
        }
      
        img:hover{            
            transform: translateY(5px);
        }
    }
    
    .main__content{
       
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .game__btn{
        position: absolute;
        z-index: 3;
        bottom: 36px;
        right: 10px;
        
        border-radius: 50%;
        background: #AB1A3A;
        width: 94px;
        height: 94px;
        border:1.5px solid #52212E ;
        box-shadow: 0 3px 25px #000;
        transition: 0.5s;
        a{
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            display: block;
            margin-top:23px;
            margin-bottom: 4px;
        }
        
        
    }
    .game__btn:hover{
        background-color:#90142f ;
    }
   
    
}
.main__asset{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45vw;
    z-index: 0;

    
}
.game__phones{
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}
.game__phone-block{
    display: inline-block;
    position: relative;
    width: 680px;
    height: 736px;
    img{
        position: absolute;
        
    }
   
   
    justify-content: center;
    align-items: center;

    #phone1{
        top: 0;
        z-index: 3;
        left: 0;
        
        
    }
    #phone2{
        top: 7%;
        right: 0;
        z-index: 2;

    }
}

.line{
    width: 100%;
    height: 40px;
    background-image: url(../img/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 10px #000;
    z-index: 10;
}

.new-lots{
   
    margin-top: -60px;
    &__text-block{
        
        text-align: center;
        text-shadow: 0px 3px 1.5px #000;
        h2{
            font-size: 5rem;
            text-transform: uppercase;
        }
        p{
            margin-top: 20px;
            font-size: 1.5rem;
        } 
    }
    .product-visual{
        width: 90%;
        
        position: relative;
        #product1{
            z-index: 3;
            left: 0; 
        }
        #product2{
            right: 0;
            z-index: 2; 
        }
    }
    
}
.linkTo{
    padding-top: 28px;
    display: flex;
    justify-content: center;
    a{
        padding: 16px 52px;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        background-color: #B61C3E !important; 
        color: #fff;
        border: 1px solid #52212E !important;
        text-align: center;
        font-size: 18px; 
        transition: .5s;
        border: none;
        cursor: pointer;
       font-weight: lighter;
       letter-spacing: 1px;
        
        
    }
    a:active,
    a:focus  {
    border:none;
    }
    a:hover{
        box-shadow: 0px 0px 10px #000;
       
        
      
    }
   
    
}

.footer{
    background-image: url('../img/tex.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &-container{
        padding: 0px 11px;
        max-width: 321px;
        margin: 0 auto;
    }
    &-links{
        *{
            filter: drop-shadow(0 2px 2px #000);
        }
        display: flex;
        margin-left: 30px;
        img{   
            position: relative;
            top: 0;
            left: 0;
            margin-right: 15px;
        }
        &__text-block{     
            a{
                text-decoration: underline;
                font-size: 18px;
                color: #fff;
                display: block;
                margin-top: 50px;
                font-weight:normal;    
            }
            p{     
                line-height: 20px;
                font-weight:200;
                display: block;
                margin-top: 4px;
                font-size: 14px;
                color: #fff;
            }
        }
    }
    &-btn__block{
        display: flex;
        justify-content: center;
    }
    &-btn{
        letter-spacing: 1px;
        font-weight: lighter;
        cursor: pointer;
        margin-top: 36px;
        padding: 16px 52px;
        background: #B61C3E;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #52212E;
        transition: .3s;
        &:hover{
            box-shadow: 0px 0px 10px #000;
        }
    }

    &-docs{
        position: relative;
        z-index: 1;
        margin-top: 56px;
        &__logo{
            display: block;
            margin: 0 auto; 
        }
        h5{
            filter: drop-shadow(0 2px 2px #000);

            color: #BDB8B8;
            text-align: center;
            margin: 24px 0;
            font-weight: 400;
        }

        &__links-block{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 20px;
            a{
                color: #BDB8B8;
                text-align: center;
                font-weight: 300;
                filter: drop-shadow(0 2px 2px #000);
                text-decoration: underline;

                &:hover{
                    color: #fff;
                }

            }
        }
    }

    &-asset{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
       
    }
}

.hidden{
    display: none;
}



.burger{
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 40;
   background: #000000a1;
   &-container{
    transition: all ease 2s;
    margin-top: 32px;
    position: absolute;
    height: 100%;
    width: 496px;
    right: -500px;  
    &.burger-active{
        right: 0;
        transition: all ease 2s;

    }
    
   }

   
   &-feedback{
    width: 80px;
    height: 80px;
    background: #B61C3E;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 5;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 3px 25px #180302);
    cursor: pointer;
    &:hover{
        background: #8f1631;
    }
    a{
        color: #fff;
        text-align: center;
        font-size: 10px; 
        text-transform: uppercase;
       
    }
   }
   &-data{
    &:hover{
        filter: brightness(.5);
    }
    position: relative;
    box-shadow: 0 12px 32px #180302;
    background-image: url('../img/header.jpeg');
    background-position: right;
    background-size:1800px;
    height: 25%;
    filter: drop-shadow(0 12px 32px #180302);
    display: flex;
    justify-content: space-between;
    &__info{
        min-width: 50%;
        margin-left: 58px;
        align-self: center;
        h2{
            color: #fff;
            font-size: 48px;
            filter: drop-shadow(0 2px 4px #180302);
        }
        p{
            color: #fff;
            font-size: 18px;
            line-height: 28px;
            font-weight: lighter;
            letter-spacing: 1px;
            filter: drop-shadow(0 2px 2px #180302);
            text-shadow: 0 2px 2px #180302 ;
        }  
        
    }
    #burger_about{
        right: 0;
       
    }
   }
   
   &-plank{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 100vh;
    z-index: 5;
    background: url('../img/burger/plank.jpg');
    background-size: 2500%;
    filter: drop-shadow(0 0 32px #000);
   }
 
   &-img{

    overflow: hidden;
    position: relative;
    display: block;
    align-self: center;
    height: 100%;
    img{
        position: relative;
        height: auto;
        z-index: 45;
        filter: drop-shadow(0 0 5px #000);
        
       
    }
   }
   
   .burger-brand{
    position: relative;
    z-index: 3;
    img{
        width: 60%;
        rotate: 15deg;
        top: -50px;
        left: 30px;
    }
   }
   .burger-game{

    z-index: 1;

    position: relative;
    .burger-img{
        overflow: hidden;
        position:static;
        width: 100%;
        height: 100%;
        img{
             overflow: hidden;
            display: inline-block;
            position: absolute;
            width: 130%;
            bottom: -38%;
            left: -10px;
            
           
        }
    } 
   
   }
   .burger-products{
    position: relative;
    z-index: 2;
    .burger-data__info{
        min-width: 55%;
    }
    .burger-img{
        img{
            position: relative;
            z-index: -10;
            
            width: 80%;
            rotate: 15deg;
            left: 35px;
            bottom: 0;
            z-index: 0;
        }

    } 
   }
   .burger-journal{
    .burger-img{
        img{
            width: 150%;
            rotate: 75deg;
            // left: 80px;
            bottom: -25px;
            }
        } 
    }

}

@import 'media'